<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--图标库 可无视-->
    <link rel='stylesheet' href='css/font-awesome.min.css'>

    <!--核心样式-->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="card">
        <h2 style="text-align: center">Machine Learning Model Market</h2>
        <h2 class="title">User Login</h2>
        <div id="login">
            <div class="input-container">
                <input type="text" id="username" v-model="username" name="username" required="required"/>
                <label>Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" v-model="pass" id="pass" required="required"/>
                <label>Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button id="enter" v-on:click="loginauth"><span>Login</span></button>
                <button id="register" v-on:click="reg" style="margin-top: 10px" ><span>Register</span></button>
            </div>
        </div>
    </div>
<!--    <div class="card alt">-->
<!--        <div class="toggle"></div>-->
<!--        <h1 class="title">Register-->
<!--            <div class="close"></div>-->
<!--        </h1>-->
<!--        <form>-->
<!--            <div class="input-container">-->
<!--                <input id="rUsername" required="required"/>-->
<!--                <label for="rUsername">Username</label>-->
<!--                <div class="bar"></div>-->
<!--            </div>-->
<!--            <div class="input-container">-->
<!--                <input type="password" id="rPass" required="required"/>-->
<!--                <label for="rPass">Password</label>-->
<!--                <div class="bar"></div>-->
<!--            </div>-->
<!--            <div class="input-container">-->
<!--                <select id="rRole">-->
<!--                    <option value="user">user</option>-->
<!--                    <option value="provider">provider</option>-->
<!--                </select>-->
<!--                <label for="rRole">Role</label>-->
<!--                <div class="bar"></div>-->
<!--            </div>-->
<!--            <div class="button-container">-->
<!--                <button><span>Register</span></button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
</div>

<script src='js/jquery.min.js'></script>
<script src="js/script.js"></script>
<script src="vue.js"></script>
<script>
    var app = new Vue({
        el: '#login',
        data: {
            username: "provider",
            pass: "qq",
        },
        methods: {
            reg: function (){
              window.location.href="reg.html";
            },
            loginauth: function (id) {
                $.ajax({
                    type: "POST",
                    url: "http://xtra3090.d2.comp.nus.edu.sg:8000/login",
                    xhrFields: {withCredentials: true},
                    data: {
                        username: app.$data.username,
                        pass: app.$data.pass,
                    },
                    success: function (res) {
                        if (res["status"] != 200) {
                            alert(res["error"]);
                        } else {
                            if (res["role"] == "manager") {

                            } else if (res["role"] == "provider") {
                                window.location.href = "modelProviderList.html";
                            } else {
                                window.location.href = "modelList.html";
                            }
                        }
                    },
                });
            }
        },
    });

    function cdk() {
        if (event.keyCode == 13) {
            document.getElementById("enter").click();
            return false;
        }
    }

    document.onkeydown = cdk;
</script>
<div style="text-align:center;">
</div>
</body>
</html>

