<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--图标库 可无视-->
    <link rel='stylesheet' href='css/font-awesome.min.css'>
    <script src="js/basic_functions.js"></script>
    <!--核心样式-->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="card">
        <h2 style="text-align: center">Machine Learning Model Market</h2>
        <h2 class="title">User Login</h2>
        <div id="login">
            <div class="input-container">
                <input type="text" id="username" v-model="username" name="username" required="required"/>
                <label>Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" v-model="pass" id="pass" required="required"/>
                <label>Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button id="enter" v-on:click="loginauth"><span>Login</span></button>
                <button id="register" v-on:click="reg" style="margin-top: 10px" ><span>Register</span></button>
            </div>
        </div>
    </div>
</div>

<script src='js/jquery.min.js'></script>
<script src="js/script.js"></script>
<script src="vue.js"></script>
<script>
    var app = new Vue({
        el: '#login',
        data: {
            username: "provider",
            pass: "qq",
        },
        methods: {
            reg: function (){
              window.location.href="reg.html";
            },
            loginauth: function () {
                $.ajax({
                    type: "POST",
                    url: "http://192.168.163.129:8080/login",
                    xhrFields: {withCredentials: true},
                    data: {
                        username: app.$data.username,
                        pass: app.$data.pass,
                    },
                    success: function (res) {
                        if(check_status(res))
                        {
                            if (res["role"] == "manager") {
                                window.location.href = "manager.html";
                            } else {
                                window.location.href = "modelList.html";
                            }
                        }
                    },
                });
            }
        },
    });

    function cdk() {
        if (event.keyCode == 13) {
            document.getElementById("enter").click();
            return false;
        }
    }

    document.onkeydown = cdk;
</script>
<div style="text-align:center;">
</div>
</body>
</html>

