<!doctype html>
<html lang="en">

<head>
    <script src="jquery-3.4.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="vue.js"></script>
    <script src="js/basic_functions.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"></link>
    <title>Model Management</title>

</head>

<body>
<div id="nModel" class="row" style="margin-top: 40px;">
    <div class="col-md-6" style="margin:0 auto" style="text-align: center;">
        <h4 style="text-align: center;">Model Management</h4>
        <div class="form-group">
            <label for="mName">Model Name</label>
            <input class="form-control" id="mName" v-model="mName" placeholder="Model Name" required></input>
        </div>
        <div class="form-group">
            <label for="mDesc">Model Description</label>
            <textarea class="form-control" id="mDesc" v-model="mDesc" placeholder="Model Description"
                      required></textarea>
        </div>
        <div class="form-group">
            <label for="mFrame">Model Framework</label>
            <select id="mFrame" v-model="mFrame" class="form-control">
                <option value="sklearn">Scikit-Learn</option>
                <option value="pytorch">Pytorch</option>
            </select>
        </div>
        <div class="form-group">
            <label for="mFile" style="display: block">Model File Upload, Status: <span style="color:red"
                                                                                       v-if="filename=='null'">{{status}}</span><span
                    style="color:blue" v-else>{{status}}</span></label>
            <input type="file" id="mFile" name="mFile"/>
            <br/><br/>
            <input style="width:100px" class="btn btn-primary" onclick="FileUpload()" value="Upload"/>

            <input type="hidden" disabled id="filename" v-model="filename"/>
            <label> File Name: {{filename}}</label>
        </div>
        <button id="send" v-on:click="manageModel" class="btn btn-primary">Submit Model</button>
    </div>
</div>

</body>

</html>
<script>
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]);
        return "-1"; //返回参数值,默认后台地址
    }

    var app = new Vue({
        el: '#nModel',
        data: {
            username: "provider",
            role: "provider",
            filename: "",
            mName: "",
            mDesc: "",
            mFrame: "sklearn",
            status: "Not Uploaded",
        },
        methods: {
            manageModel: function (id) {
                if (this.filename == "") {
                    alert("Please upload model file first!");
                    return false;
                }
                if (confirm("Do you want to add/update this model?")) {
                    $.ajax({
                        type: "POST",
                        url: "http://xtra3090.d2.comp.nus.edu.sg:8000/manageModel",
                        xhrFields: {withCredentials: true},
                        data: {
                            paras: JSON.stringify({
                                id: mId,
                                modelName: app.$data.mName,
                                modelDescription: app.$data.mDesc,
                                modelFramework: app.$data.mFrame,
                                filename: app.$data.filename,
                            }),
                        },
                        success: function (res) {
                            if (check_status(res)) {
                                window.location.href = "modelProviderList.html";
                            }
                        },
                    });
                }

            }
        },
    });

    function FileUpload() {
        var form_data = new FormData();
        var file_info = $('#mFile')[0].files[0];
        form_data.append('file', file_info);
        form_data.append('mId', mId);
        // Add file type determination based on different frameworks
        if (file_info == undefined) {
            alert("You haven't selected any model file!");
            return false
        } else if (app.$data.filename != "") {
            if (!confirm("Do you really want to replace the existing model file?")) {
                return false;
            }
        }
        $.ajax({
            url: 'http://xtra3090.d2.comp.nus.edu.sg:8000/uploadModel',
            xhrFields: {withCredentials: true},
            type: 'POST',
            data: form_data,
            processData: false,
            contentType: false,
            success: function (res) {
                if (check_status(res)) {
                    app.$data.filename = res.filename;
                    app.$data.status = "Uploaded";
                }
            }
        });
    }

    mId = parseInt(getUrlParam("id"));
    if (mId != -1) {
        $.ajax({
            type: "GET",
            url: "http://xtra3090.d2.comp.nus.edu.sg:8000/queryModel",
            xhrFields: {withCredentials: true},
            data: {
                "id": mId,
            },
            success: function (res) {
                if(check_status(res))
                {
                    app.$data.filename = res["data"].filename;
                    app.$data.mName = res["data"].modelName;
                    app.$data.mDesc = res["data"].modelDescription;
                    app.$data.mFrame = res["data"].modelFramework;
                }

            },
        });
    }
</script>
<script src="js/checklogin.js"></script>