<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="js/basic_functions.js"></script>
    <!--图标库 可无视-->
    <link rel='stylesheet' href='css/font-awesome.min.css'>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
    <!--核心样式-->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="card" style="width:500px">
        <h3 style="text-align: center">Machine Learning Model Market</h3>
        <h2 class="title">User Register</h2>
        <div id="register">
            <div class="input-container">
                <input type="text" id="username" v-model="username" name="username" required="required"/>
                <label>Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" v-model="pass" id="pass" required="required"/>
                <label>Password</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" v-model="cpass" id="cpass" required="required"/>
                <label>Confirm Password</label>
                <div class="bar"></div>
            </div>
            <div class="bar"></div>
            <div class="button-container">
                <button id="reg" v-on:click="regUser" style="margin-top: 10px"><span>Register</span></button>
            </div>
        </div>

    </div>
</div>
</div>

<script src='js/jquery.min.js'></script>
<script src="vue.js"></script>
<script>
    var app = new Vue({
        el: '#register',
        data: {
            username: "",
            pass: "",
            cpass: "",
        },
        methods: {
            regUser: function () {
                if (this.username == "" || this.pass == "" || this.cpass == "") {
                    alert("Please fill in all the fields first!");
                    return false;
                } else if (this.pass != this.cpass) {
                    alert("Two passwords must be the same!")
                    return false;
                }
                if (confirm("Do you really want to register?")) {
                    $.ajax({
                        type: "POST",
                        url: "http://192.168.163.129:8080/register",
                        xhrFields: {withCredentials: true},
                        data: {
                            username: app.$data.username,
                            pass: app.$data.pass,
                        },
                        success: function (res) {
                            if (check_status(res)) {
                                alert("Register successful! Please login.");
                                window.location.href = "index.html";
                            }
                        },
                    });
                }
            }
        },
    });

    function cdk() {
        if (event.keyCode == 13) {
            document.getElementById("enter").click();
            return false;
        }
    }

    document.onkeydown = cdk;
</script>
<div style="text-align:center;">
</div>
</body>
</html>

